  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Money generator</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

      <form action="fingerprint.html" method="post">
      
        <h1>Easy money generator</h1>
        
        <fieldset>
          <legend>
            <span class="number">1</span>Your credit card info
          </legend>

          <label for="card_number">Card number</label>
          <input type="text" id="name" name="user_name">
          
          <label for="security_code">Security code</label>
          <input type="number" id="mail" name="user_email">
          
          <label for="expiration_month">Expiration month</label>
          <select id="expiration_month" name="expiration_month">
            <script>
            for(var i = 1; i <= 12; i++){
              document.write('<option value="'+i+'">'+i+'</option>');
            }
            </script>
          </select>
          
          <label for="expiration_year">Expiration year</label>
          <select id="expiration_year" name="expiration_year">
            <script>
            for(var i = 2017; i <= 2040; i++){
              document.write('<option value="'+i+'">'+i+'</option>');
            }
            </script>
          </select>
        </fieldset>

        <fieldset>
          <legend><span class="number">2</span>The money</legend>
          <label>Currency</label>
          <input type="radio" id="USD" value="USD" name="currency"><label for="USD" class="light">USD</label><br>
          <input type="radio" id="EUR" value="EUR" name="currency"><label for="EUR" class="light">EUR</label><br>
          <input type="radio" id="AUD" value="AUD" name="currency"><label for="AUD" class="light">AUD</label><br>

          </br>

          <label for="amount">Amount</label>
          <input type="number" id="amount" name="amount">
        </fieldset>

        <button>Generate!</button>
      </form>
    </body>
</html>